/*Styleguide
violet header : #6a205f #3a0c35
fond menu : #ffffff #d7d5d0
typo menu violet : #6a205f
typo menu vert : #86a50c
typo courante fond blanc: #6d626b
typo courante fond foncé : #c8c5bf
End Colors*/
*,h2 { box-sizing: border-box }
.current {
  display: block;
}
body {
  font-weight: lighter;
}
.row {
  position: relative;
}
.xebia {
  background: #6a205f; 
  background: -webkit-linear-gradient(top, #6a205f 0%,#3a0c35 100%);
  background: linear-gradient(top, #6a205f 0%,#3a0c35 100%);
}
.dark {
  background: url(../img/answer-bg.png) repeat;
  margin-bottom: 1em;
  color : #c8c5bf;
  padding: 0.6em 1em 1em 1em;
}
.dark h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

.cell {
  max-width: 40em;
  margin: 0 auto;
  position: relative;
  text-align: left;
  padding-bottom: 1em;
}
.cell p {
  font-style: italic;
  padding: 1em 1em 0 1em;
}
strong {
  color: #6a205f;
  font-weight: normal;
}

.header .cell {
  text-align: center;
  color: #6a205f;
  text-transform: uppercase;
  padding-top: 1em;
}